<div class="row row_1">

    {% for cell in row_1 %}

    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>
    </div>

    {% endfor %}
</div>

<div class="row row_2">

    {% for cell in row_2 %}

    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
</div>

<div class="row row_3">
    
    {% for cell in row_3 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_4">
    
    {% for cell in row_4 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_5">
    
    {% for cell in row_5 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_6">
    
    {% for cell in row_6 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_7">
    
    {% for cell in row_7 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_8">
    
    {% for cell in row_8 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_9">
    
    {% for cell in row_9 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>

<div class="row row_10">
    
    {% for cell in row_10 %}
    <div class="cell">
        <span class="elem">{{ cell.element }}</span>
        <br>
        <span class="name">{{ cell.name }}</span>

    </div>
    {% endfor %}
        
</div>